{% extends 'admin_layout.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Dekontlar</title>
</head>
<body>
    <h1>Dekontlar</h1>
    <ul>
        {% for dosya in dekont_dosyalari %}
            <li>
                <strong>{{ dosya }}</strong>
                <a href="{{ url_for('dekont_goster', dosya_adi=dosya) }}">Görüntüle</a>
                <a href="{{ url_for('dekont_indir', dosya_adi=dosya) }}" download>İndir</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}