{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Anasayfa</title>

</head>

<body>
    <h1>Anasayfa</h1>
   
    <a href="/kurslar">Kursları Görüntüle</a>


   
</body>

</html>
<!-- WhatsApp ekleme -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "905061058792", // WhatsApp numarası
            call_to_action: "Merhaba, nasıl yardımcı olabilirim?", // Görüntülenecek yazı
            position: "right", // Sağ taraf için 'right' sol taraf için 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- WhatsApp ekleme -->
{% endblock %}