<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcı Düzenle</title>
    
</head>
<body>

    <div class="container">
        <h2>Kullanıcı Düzenle</h2>
        <form method="POST" action="{{ url_for('kullanici_duzenle', username=kullanici.kurs_admin_username) }}">
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="kurs_admin_username" value="{{ kullanici.kurs_admin_username }}" required>
            <label for="password">Parola:</label>
            <input type="password" id="password" name="kurs_admin_password" required>
            <input type="submit" value="Kaydet">
        </form>
    </div>
</body>
</html>
