<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcı Ekle</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Ana Sayfa</a></li>
                <li><a href="{{ url_for('kurslar') }}">Kurslar</a></li>
                <li><a href="{{ url_for('admin_panel') }}">Admin Paneli</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Kullanıcı Ekle</h2>
        <form method="POST" action="{{ url_for('kullanici_ekle') }}">
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="kurs_admin_username" required>
            <label for="password">Parola:</label>
            <input type="password" id="password" name="kurs_admin_password" required>
            <input type="submit" value="Ekle">
        </form>
    </div>

    <footer>
        <p>Tüm hakları saklıdır. &copy; 2023 Havacılık Kursu</p>
    </footer>
</body>
</html>
